asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
cloudinary==1.44.1
Django==5.2.3
django-admin-thumbnails==0.2.9
django-cloudinary-storage==0.3.0
django-filter==25.1
djangorestframework==3.16.0
idna==3.10
Markdown==3.8.2
pillow==11.2.1
psycopg2-binary==2.9.10
python-decouple==3.8
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
sslcommerz-lib==1.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
gunicorn
drf-yasg
dj-database-url
scikit-learn==1.7.2
python-decouple
stripe
channels==3.0.4
channels-redis==4.2.0
redis==5.0.0
pika
celery 
django-redis
daphne
django-celery-beat
django-celery-results
django-elasticsearch-dsl==9.0
django-elasticsearch-dsl-drf==0.22.5
# elasticsearch==8.13.0

