# celery -A flipcart_project worker --loglevel=info --pool=solo
# source venv/Scripts/activate
# daphne -p 8001 flipcart_project.asgi:application
# celery -A flipcart_project beat -l info -S django --pidfile=
# celery -A flipcart_project worker --pool=solo -l info
# python manage.py run_worker

# python manage.py makemigrations

# python manage.py migrate
# ngrok http http://127.0.0.1:8000


# Rabbit start and enable
# rabbitmq-plugins enable rabbitmq_management
# windows backend service --> net start RabbitMQ
# or terminal service not cros -> rabbitmq-server.bat
# rabbitmq-server.bat


# docker compose down (remove container but not volume)
# docker compose down -v (remove container and volume)


# docker compose build (images build not container runing)
# docker compose up -d --build (update image and run container in background)
# docker compose up -d  (run container in background)




# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
Procfile
# media/
staticfiles/
# static/

# If using WhiteNoise or collectstatic
static_root/
collected_static/

# Local settings
settings_local.py
.env
*.env

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/

# Migrations (optional – only if you want to ignore them, usually keep them)
# */migrations/*.py
# !*/migrations/__init__.py
